{% extends "digest/base.html" %}
{% block title %}Edit Feed{% endblock %}
{% block css %}
<style type="text/css">
  .invis {display:none}
</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="span6">
    <h1>Edit digest</h1>
    <div class="alert">
      <strong>Warning! Add sean@seanroth.com to your address book</strong>, otherwise your email provider might classify your digest as spam!
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Submit" /> <button class="btn btn-danger" id="delete">Delete digest</button>
    </form>
  </div>
  <div class="span6">
    <div class="well">
      <h2>Preview</h2>
      <ol>
      {% for link in links %}
        <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
function refresh_list() {
  var number = 0;
  var max_val = parseInt($("#id_max_amount").val());
  $("div div div ol li").each(function(){
    if(number >= max_val) {
      $(this).addClass('invis');
    } else {
      number++;
      $(this).removeClass('invis');
    }
  });
}
$("form").bind("keyup", refresh_list);
$("#delete").click(function() {
  $.post('?delete', {'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val()}, function() {
    $("#delete").after(" <strong>Successfully deleted digest!</strong>");
  });
  return false;
});
refresh_list();
</script>
{% endblock %}