{% extends "digest/base.html" %}
{% block title %}Welcome to Dijest{% endblock %}
{% block css %}
<style type="text/css">
  #homeinput {
    height: 30px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 0px;
    width: 25em;
  }

  #link_selection_frame {
    width: 100%;
    height: 600px;
  }
</style>
{% endblock %}

{% block js %}
<script>
  var iFD;

  function pload(url) {
    $('#loading').text('Loading...');
    // Rewrite url to include http schema if it isn't already there
    if (!url.match(/https?:\/\/.+/)) url = 'http://' + url
      
    iFD.contentDocument.location.href = '/passthrough?url=' + url;

    // Poll for the iframe to be ready. It's retarded we can't do this with an event
    (function pollFrameReady() {
      // Watch ready state here because god only knows when the iframe unloads
      if (iFD.contentDocument.readyState === 'interactive') {
        $('#loading').text('');
        var my_script = iFD.contentDocument.createElement('script');
        my_script.type='text/javascript';
        my_script.src='http://{{ host }}/booky.js?x='+(Math.random());
        iFD.contentDocument.getElementsByTagName('head')[0].appendChild(my_script);
      }
      else {
        // Use timeout as opposed to a while loop so we return control to the
        // render thread.
        setTimeout(pollFrameReady, 30)
      }
    })()
  }

  $(function() {
    iFD = document.getElementById('link_selection_frame');
    $('#link_selection_url').data('pre','http://');
    $('#link_selection_url').on('keyup', function(e) {
      if(this.value.indexOf('http://') == 0) {
        $(this).data('pre','http://');
        this.value = this.value.substr(7);
        $('.add-on').text('http://');
      } else if(this.value.indexOf('https://') == 0) {
        $(this).data('pre','https://');
        this.value = this.value.substr(8);
        $('.add-on').text('https://');
      }
      if (e.keyCode == 13) pload($(this).data('pre')+this.value);
    })
  })
</script>
{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1>Make the web come to you</h1>

  <p>Turn any website into a periodic email digest.</p>
  <p>
    To get started, either:
    <ul>
      <li>drag the following bookmarklet into your bookmark bar: <a href="javascript:(function(){my_script=document.createElement('script');my_script.type='text/javascript';my_script.src='http://{{ host }}/booky.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(my_script);})();" class="btn btn-primary">Digest this page</a></li>
      OR
      <li>type or paste the address into the box below and press enter (you can paste with or without the http(s) prefix)</li>
    </ul>
  </p>
  </form>
</div>

<!-- Example row of columns -->
<div class="input-prepend">
<span class="add-on">http://</span>
  <input type="text" id="link_selection_url" /></div> <span id="loading"></span>
<iframe id="link_selection_frame"> </iframe>
{% endblock %}