{% extends "digest/base.html" %}
{% block title %}Register{% endblock %}

{% block css %}
<style>
  label > span {
    display: inline-block;
    width: 130px;
  }
  .invalid {
    width: auto;
    color: red;
    margin-left: 1em;
  }
</style>
{% endblock %}

{% block js %}
<script>
  $(function() {
    // Run of the mill form validation, BS validates email
    $('#registration_form').submit(function(e) {
      $('.invalid').remove()

      var pass = $('#password').val(),
        passConf = $('#password_conf').val()

      if (!(pass == passConf)) {
        $('#password')
          .after('<span class="invalid">Passwords don\'t match</span>')
        e.preventDefault()
      }
    })
  })
</script>
{% endblock %}

{% block content %}
<h3>Register An Account</h3>
<hr>
<form action="/register/" method="post" id="registration_form">
  {% csrf_token %}
  <label><span>Email Address:</span>
    <input type="email" name="email" id="email_address" />
  </label>
  <label><span>Password:</span>
    <input type="password" name="password" id="password" />
  </label>
  <label><span>Password(confirm):</span>
    <input type="password" id="password_conf" />
  </label>
  <input type="submit" value="Register" class="btn btn-primary"/>
</form>
{% endblock %}