/* NB: This sheet isn't actually used anywhere, you need to minify it and insert
it into booky.js */
a:hover {
  background-color: red;
}

.selected_for_digest {
  background-color: red;
}

#digest_button {
  bottom: 5px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 14pt;
  font-family: sans-serif;
  position: fixed;
  padding: 3px;
  right: 5px;
  z-index: 999;
}
